# Data Cleaning Project Unit Test

## Import Dependencies

In [1]:
import pandas as pd
from playground import execute_dsl

## Test

1. ``drop``: Deletes a column or a row in the table

In [3]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    drop(table=table1, label=col1, axis=1)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
tables = execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col2  col3
0     6    11
1     7    12
2     8    13
3     9    14
4    10    15

In [8]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    drop(table=table1, label=2, axis=0)
"""
print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
3     4     9    14
4     5    10    15

2. ``move``: Relocates a column from one position to another in the table

In [3]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    move(table=table1, label=col1, target_table=table1, target_label=2, axis=columns)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col2  col3  col1
0     6    11     1
1     7    12     2
2     8    13     3
3     9    14     4
4    10    15     5

In [4]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    move(table=table1, label=1, target_table=table1, target_label=2, axis=index)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col1  col2  col3
0     1     6    11
2     3     8    13
1     2     7    12
3     4     9    14
4     5    10    15

3. ``copy``: Duplicates a column and append the copied column to the end of the table

In [5]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    copy(table=table1, label=col3, target_table=table1, target_label=col4, axis=columns)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col1  col2  col3  col4
0     1     6    11    11
1     2     7    12    12
2     3     8    13    13
3     4     9    14    14
4     5    10    15    15

In [2]:
table1 = pd.DataFrame(
    {
        "col1": [1, 2, 3, 4, 5],
        "col2": [6, 7, 8, 9, 10],
        "col3": [11, 12, 13, 14, 15],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    copy(table=table1, label=4, target_table=table1, target_label=5, axis=index)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
modified tables:
table1
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
5     5    10    15

4. ``merge``: Concatenates two columns and append the merged column to the end of the table

In [2]:
table1 = pd.DataFrame(
    {
        "first_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
        "last_name": ["Smith", "Johnson", "Williams", "Jones", "Brown"],
        "ages": [25, 30, 35, 40, 45],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    merge(table=table1, label_1=first_name, label_2=last_name, glue=" ", new_label=name, axis=columns)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
  first_name last_name  ages
0      Alice     Smith    25
1        Bob   Johnson    30
2    Charlie  Williams    35
3      David     Jones    40
4        Eve     Brown    45
modified tables:
table1
  first_name last_name  ages              name
0      Alice     Smith    25       Alice Smith
1        Bob   Johnson    30       Bob Johnson
2    Charlie  Williams    35  Charlie Williams
3      David     Jones    40       David Jones
4        Eve     Brown    45         Eve Brown

In [2]:
table1 = pd.DataFrame(
    {
        "first_name": ["Alice", "Bob", "Charlie", "David", "Eve"],
        "last_name": ["Smith", "Johnson", "Williams", "Jones", "Brown"],
        "ages": [25, 30, 35, 40, 45],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    merge(table=table1, label_1=0, label_2=1, glue=" ", new_label=5, axis=index)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
  first_name last_name  ages
0      Alice     Smith    25
1        Bob   Johnson    30
2    Charlie  Williams    35
3      David     Jones    40
4        Eve     Brown    45
modified tables:
table1
  first_name      last_name   ages
0      Alice          Smith     25
1        Bob        Johnson     30
2    Charlie       Williams     35
3      David          Jones     40
4        Eve          Brown     45
5  Alice Bob  Smith Johnson  25 30

5. ``split``: Separates a column into two or more halves at the occurrences of the delimiter

In [2]:
table1 = pd.DataFrame(
    {
        "name": ["Alice Smith", "Bob Johnson", "Charlie Williams", "David Jones", "Eve Brown"],
        "ages": [25, 30, 35, 40, 45],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    split(table=table1, label=name, delimiter=" ", new_labels=[first_name, last_name], axis=columns)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
               name  ages
0       Alice Smith    25
1       Bob Johnson    30
2  Charlie Williams    35
3       David Jones    40
4         Eve Brown    45
modified tables:
table1
   ages first_name last_name
0    25      Alice     Smith
1    30        Bob   Johnson
2    35    Charlie  Williams
3    40      David     Jones
4    45        Eve     Brown

6. ``fold``: Collapses all columns after a specific column into one column in the output table

In [2]:
table1 = pd.DataFrame(
    {
        "a": ["a1", "a2", "a3"],
        "b": ["b1", "b2", "b3"],
        "c": ["c1", "c2", "c3"],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    fold(table=table1, column=a)
"""

execute_dsl(tables, dsl_code)

start
  command	{'fold': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'a')])}}

Executing command: Tree(Token('RULE', 'command'), [{'fold': {'table': Token('NAME', 'table1'), 'column': Tree(Token('RULE', 'label'), [Token('NAME', 'a')])}}])
Table before column split:
     a   b   c
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3
Table after column split:
     a folded_value
0  a1           b1
1  a1           c1
2  a2           b2
3  a2           c2
4  a3           b3
5  a3           c3

7. ``unfold``: "Unflatten" tables and move information from data values to column names

In [2]:
table1 = pd.DataFrame(
    {
        "a": ["a1", "a1", "a2", "a2", "a3", "a3"],
        "b": ["b1", "c1", "b2", "c2", "b3", "c3"],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    unfold(table=table1)
"""

execute_dsl(tables, dsl_code)

UnexpectedToken: Unexpected token Token('NAME', 'unfold') at line 2, column 5.
Expected one of:
	* "drop("
	* "transpose("
	* "copy("
	* "test("
	* "aggregate("
	* "merge("
	* "move("
	* "split("
Previous tokens: [None]

8. ``transpose``: Transpose the rows and columns of the table

In [2]:
table1 = pd.DataFrame(
    {
        "a": ["a1", "a2", "a3"],
        "b": ["b1", "b2", "b3"],
        "c": ["c1", "c2", "c3"],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    transpose(table=table1)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
    a   b   c
0  a1  b1  c1
1  a2  b2  c2
2  a3  b3  c3
modified tables:
table1
    0   1   2
a  a1  a2  a3
b  b1  b2  b3
c  c1  c2  c3

9. `aggregate`: Aggregate the data in the table

In [7]:
table1 = pd.DataFrame(
    {
        "a": [1, 2, 3],
        "b": [4, 5, 6],
        "c": [7, 8, 9],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    aggregate(table=table1, functions=[mean, median, prod, sum, std, var, min, max], axis=columns)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
modified tables:
table1
   var  median  mean   prod   sum  max  std  min
0  9.0     4.0   4.0   28.0  12.0  7.0  3.0  1.0
1  9.0     5.0   5.0   80.0  15.0  8.0  3.0  2.0
2  9.0     6.0   6.0  162.0  18.0  9.0  3.0  3.0

In [8]:
table1 = pd.DataFrame(
    {
        "a": [1, 2, 3],
        "b": [4, 5, 6],
        "c": [7, 8, 9],
    }
)
tables = {
    "table1": table1,
}

dsl_code = """
    aggregate(table=table1, functions=[mean, median, prod, sum, std, var, min, max], axis=index)
"""

print("original tables:")
for name, table in tables.items():
    print(name)
    print(table)
execute_dsl(tables, dsl_code)
print("modified tables:")
for name, table in tables.items():
    print(name)
    print(table)

original tables:
table1
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
modified tables:
table1
          a      b      c
var     1.0    1.0    1.0
median  2.0    5.0    8.0
mean    2.0    5.0    8.0
prod    6.0  120.0  504.0
sum     6.0   15.0   24.0
max     3.0    6.0    9.0
std     1.0    1.0    1.0
min     1.0    4.0    7.0

10. `test`: Statistical tests for the data in the table